<!DOCTYPE html>
<html lang="jp">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Login</title>
	</head>
	<body>
		<h2>Login</h2>
		<p [[${message}]]></p>
		<form 
			action="login" 
			method="post" 
			th:object="${loginForm}">
			<!-- ログインID -->
				<label for="id">Login ID</label> 
				<input 
					type="text" 
					id="id"
					name="loginId" 
					th:value="*{loginId}"><br>
			<!-- パスワード -->
				<label for="passowrd">Password</label> 
				<input 
					type="password"
					id="password" 
					name="loginPassword" 
					th:value="*{loginPassword}"><br>
			<button type="submit">ログイン</button>
		</form>
		
		<!-- 新規登録ページへ -->
		<form 
			action="change" 
			method="get">
			<button type="submit">新規登録ページへ</button>
		</form>
	</body>
</html>