@media screen and (max-width: 479px) {
    .wrapper {
        width: 200px;
    }

    .blue {
        height: 200px;
    }

    .white {
        position: relative;
        top: 20px;
        right: 70px;
        margin: 0px;
        width: 60px;
        height: 160px;
    }

    .grean {
        width: 200px;
        height: 100px;
    }

    .brown {
        width: 200px;
        height: 200px;
    }

    .pink {
        top: 20px;
        left: 30px;
    }
}