<!DOCTYPE html>
<html lang="jp">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- SpringBootの場合CSSのパスの記述は少し特殊 -->
	<link th:href="@{/css/style.css}" rel="stylesheet">
	<title>ToDoListAAAA</title>
</head>

<body>
	<table border="1">
		<tr>
			<th>id</th>
			<th>件名</th>
			<th>重要度</th>
			<th>緊急度</th>
			<th>期限</th>
			<th>完了</th>
		</tr>
		<tr th:each="todo:${todoList}">
			<td th:text="${todo.id}"></td>
			<td th:text="${todo.title}"></td>
			<!-- 
    				三項演算子
    				条件式　？　式１：式２
    					trueなら式１、falseなら式２
    			-->
			<td th:text="${todo.importance == 1?'★★★':'★'}"></td>
			<td th:text="${todo.urgency == 1?'★★★':'★'}"></td>
			<td th:text="${todo.deadline}"></td>
			<td th:text="${todo.done== 'Y'?'完了':''}"></td>
		</tr>
	</table>
</body>

</html>